# Copie para .env e preencha seus valores
# Copie do seu projeto do Supabase a URL, A KEY e a SERVICE_ROLE
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE=
# Copie do seu projeto do Bubble a URL base ex: https://seu-app.bubbleapps.io/version-test/, e a API token
BUBBLE_API_URL=
BUBBLE_API_TOKEN=
# Copie do seu projeto do Slack a URL do webhook o 'Bot User OAuth Token' e o 'Signing Secret'
SLACK_WEBHOOK_URL=
SLACK_TOKEN=
SIGNING_SECRET=
# Copie do seu projeto do ABSTRACT a API KEY
# Copie do seu projeto da VOYAGE a API KEY
# Copie a sua API KEY do Openrouter ou de outro chat model caso queira trocar
ABSTRACT_API_KEY=
VOYAGE_API_KEY=
OPENROUTER_API_KEY=
# Insira as variáveis do REDIS, caso ainda não tenham sido preenchidas
QUEUE_BULL_REDIS_HOST=127.0.0.1
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_PASSWORD=
# Crie a variável de OWNER_OVERRIDE_KEY que será inserida no header da requisição para autorizar a atualização de um owner fugindo à regra comum
OWNER_OVERRIDE_KEY=troque-esta-chave
# Crie as variáveis de autorização a serem inseridas nos webhooks dos fluxos
N8N_INGEST_HEADER_NAME=x-api-key
N8N_INGEST_HEADER_VALUE=troque-este-token